.divStyle {
  width: 700px;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}

.formStyle {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.btnStyle {
  background-color: dodgerblue;
  height: 40px;
  margin-left: 25%;
  width: 50%;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.successStatusDiv {
  height: 40px;
  width: 50%;
  font-family: Poppins;
  color: green;
  margin-left: 25%;

  /* style={{
    height: "40px",
    width: "50%",
    fontFamily: "Poppins",
    color: "green",
    marginLeft: "25%",
  }} */
}

.errorStatusDiv {
  height: 40px;
  width: 50%;
  font-family: Poppins;
  color: red;
  margin-left: 25%;
}

.fileInput {
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
}
