.successDiv {
  height: 40px;
  width: 50%;
  font-family: Poppins;
  color: green;
  margin-left: 25%;
}

.errorDiv {
  height: 40px;
  width: 50%;
  font-family: Poppins;
  color: red;
  margin-left: 25%;
}

.checkoutOuterDiv {
  background-color: dodgerblue;
  height: 300px;
}

.checkoutInnerDiv {
  display: flex;
  background-color: transparent;
  margin-top: -279px;
}

.checkoutCardDiv {
  color: black;
  display: block;
  background-color: white;
  border-radius: 5px;
  left: 0;
  width: 60%;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createBookingButton {
  margin-left: 25%;
  border: none;
  outline: none;
  background-color: rgb(255, 109, 56);
  height: 50px;
  width: 200px;
  border-radius: 10px;
}

.checkoutDivContent {
  display: flex;
  font-size: 1rem;
  color: black;

  /* style={{
        display: "flex",
        fontSize: "1rem",
        color: "black",
      }} */
}

.leftDiv {
  left: 0;
  width: 20%;
  font-family: Poppins;
  /* style={{ left: "0", width: "20%" }} */
}

.rightDiv {
  right: 0;
  width: 20%;
  font-family: Poppins;
}

.priceSummaryDiv {
  height: 300px;
  background-color: white;
  border-radius: 5px;
  right: 0;
  width: 30%;
  margin-left: 10px;
  margin-right: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contentOuterDiv {
  display: flex;
  font-size: 1rem;
  color: black;
  font-family: Poppins;
  /* style={{
        display: "flex",
        fontSize: "1rem",
        color: "black",
      }} */
}

.contentInnerLeftDiv {
  left: 0;
  width: 80%;

  /* style={{ left: "0", width: "80%" }} */
}

.contentInnerRightDiv {
  right: 0;
  width: 20%;
}

.checkOutImageStyle {
  height: 200px;
  width: 30%;
}

.cardComponentStyles {
  border: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Poppins;
}

.cardInnerStyles {
  font-family: Poppins;
  font-size: 1.2rem;
  padding: 5px;
}
