.HotelDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.HotelCard {
  box-sizing: border-box;
  max-width: 350px;
  text-align: center;
  border: none;
  outline: none;
  text-transform: capitalize;
  margin-left: 6px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.image {
  height: 200px;
  width: 350px;
  margin-bottom: 10px;
}

.navDisplayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linkText {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.heading {
  text-transform: capitalize;
  margin-left: 10px;
  color: black;
  font-size: 1.2rem;
}

.section {
  color: #fff;
  width: 100%;
}

.leftHalf {
  position: absolute;
  left: 0px;
  width: 10%;
  height: 100%;
}
.rightHalf {
  position: absolute;
  right: 0px;
  width: 80%;
  overflow: scroll;
  margin-top: 10px;
  height: 100%;
}

.HotelDisplay {
  display: flex;
  margin-left: 110px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.HotelDisplayImage {
  height: 300px;
  width: 300px;
}

.HotelDisplay:hover {
  outline: black;
  border: 0.5px solid rgb(23, 19, 235);
}

.CarouselDisplayImage {
  height: 300px;
  width: 300px;
  border-radius: 1%;
}

.hotelListingDiv {
  margin-left: 150px;
  display: flex;
  width: 80%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hotelListingDiv:hover {
  border: 0.5px solid black;
  z-index: 100;
}

.searchBar {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #51a4f7;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}

.blockDisplay {
  display: block;
  margin-left: 20px;
}

.textField {
  border: none;
  outline: none;
  margin-left: 30px;
  color: black;
  background-color: whitesmoke;
}

.outerDiv {
  background-color: dodgerblue;
  height: 300px;
  margin-top: -25px;
  padding: 20px;
}

.innerDiv {
  padding: 10px;
  margin-left: 450px;
  background-color: white;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.colorBlack {
  color: black;
}

.displayBlock {
  display: block;
}

.navDisplayFlex {
  display: flex;
}

.carouselStyle {
  height: 275px;
  width: 275px;
}

.marginLeft {
  margin-left: 150px;
}

.carouselDiv {
  left: 0;
  width: 40%;
  /* style={{ left: "0", width: "40%" }} */
}

.contentDiv {
  right: 0;
  width: 60%;
  height: 50%;
  /* style={{ right: "0", width: "60%", height: "300px" }} */
}

.cardStyling {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
}

.locationDiv {
  left: 0;
  width: 50%;
  border: none;
  outline: none;
}

.cardComponentDiv {
  right: 0;
  background-color: transparent;
  width: 50%;
  border: none;
  outline: none;
}

.singleRoomDiv {
  background-color: transparent;
  color: black;
  display: flex;
  border: 2px solid rgb(255, 109, 56);
}

.carouselHotelDiv {
  left: 0;
  background-color: white;
  /* style={{ left: "0", backgroundColor: "white" }} */
}

.outerCardDiv {
  right: 0px;
  width: 120%;
  height: 120%;
  height: 300px;
  background-color: white;
}

.specialDivStylling {
  display: block;
  font-size: 1rem;
  color: green;
  background-color: #f7f6eb;
  height: 30px;
  width: 120%;
  text-align: center;
  padding: 5px;
  margin-left: -20px;
  border-radius: 10px;
  box-shadow: 0 4px 7x 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  /* // style={{
    //   display: "block",
    //   fontSize: "1rem",
    //   color: "green",
    //   backgroundColor: "#f7f6eb",
    //   height: "30px",
    //   width: "120%",
    //   textAlign: "center",
    //   padding: "5px",
    //   marginLeft: "-20px",
    //   borderRadius: "10px",
    //   boxShadow:
    //     "0 4px 7x 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.9)",
    // }} */
}

.searchDisplayStylingShow {
  color: black;
  display: block;
  height: 300px;
  width: 300px;
  margin-top: 74px;
  margin-right: 1px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 20px;
}

.searchDisplayStylingHide {
  color: black;
  display: none;
  height: 300px;
  width: 300px;
  margin-top: 74px;
  margin-right: 1px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 20px;
}

.textStyle {
  margin-top: 20px;
  margin-left: 90px;
}

.doneButton {
  background-color: dodgerblue;
  color: black;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 80px;
  /* style={{
    backgroundColor: "dodgerblue",
    color: "black",
    height: "50px",
    width: "150px",
    borderRadius: "20px",
    marginTop: "100px",
    marginLeft: "80px",
  }} */
}

.searchDisplayUpdateSearch {
  background-color: white;
  color: black;
  height: 50px;
  width: 300px;
  border-radius: 20px;
  margin-right: 20px;
}
/* style={{
    backgroundColor: "white",
    color: "black",
    height: "50px",
    width: "300px",
    borderRadius: "20px",
    marginRight: "20px",
  }}
} */

.checkInDiv {
  left: 0;
  width: 30%;
  margin-right: 10px;
  color: white;
}

.checkOutDiv {
  right: 0px;
  width: 30%;
}

.guestDiv {
  display: block;
  text-align: center;
  color: black;
}

.checkInDivInner {
  display: flex;
  margin-top: 10px;
}

.innerDivForCheckIn {
  left: 0;
  width: 30%;
  margin-right: 10p;
}

.innerDivForCheckOut {
  right: 0;
  width: 30%;
}

.outerDivForAdults {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.innerDivForAdults {
  display: block;
  text-align: center;
  /* style={{ display: "block", textAlign: "center" }} */
}

.btnStyleAdults {
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 4px;
  background-color: rgb(255, 109, 56);
  outline: none;
  box-shadow: none;
  color: white;
  border: none;
  height: 40px;
  width: 50px;
}

.divStyleForChildren {
  display: flex;
  right: 0;
  margin-left: 10px;
}

.innerDivStyleForChildren {
  display: block;
  text-align: center;
}

.divStyleForAllChilds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  margin-left: 10px;

  /* style={{
    display: "grid",
    gridTemplateColumns: "repeat(2, 1fr)",
    marginTop: "10px",
    marginLeft: "10px",
  }} */
}

.btnStyleForSubmit {
  color: black;
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 30px;
  width: 40px;
  border-radius: 10px;
}

.searchHotels {
  height: 50px;
  width: 200px;
  margin-top: 30px;
  margin-left: 180px;
  background-color: dodgerblue;
  color: white;
  border: none;
  outline: none;
}

.destinationsDiv {
  display: block;
  justify-content: center;
  align-items: center;
}

.labelStyles {
  text-align: center;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 30px;
  width: 40px;
  border-radius: 10px;
}

.errorDiv {
  color: red;
}

.singleHotelViewCard {
  height: 300px;
  border: none;
  color: black;
}

.pricingDiv {
  right: 0;
  width: 50%;
  border: none;
  outline: none;
  margin-left: 10px;
}

.roomSelectButton {
  background-color: rgb(255, 109, 56);
  border: none;
  outline: none;
  height: 60px;
  width: 50%;
  border-radius: 10px;
  color: white;
}

.hotelReviewOuterDiv {
  width: 100%;
  border: 1px solid balck;
  margin-top: 2px;
}

.hotelReviewInnerDiv {
  display: flex;
  padding: 10px;
}

.reviewImageStyle {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

.imageLabel {
  height: 20px;
  margin-left: 10px;
}

.descriptionDiv {
  display: block;
  padding: 5px;
}

.reviewDesc {
  text-align: left;
}

.singleHotelViewMainDiv {
  background-color: transparent;
  margin-top: 20px;
}

.singleHotelViewMainInnerDiv {
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  margin-left: 120px;
  margin-bottom: 10px;
  margin-right: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roomsOptionButton {
  background-color: rgb(255, 109, 56);
  border: none;
  outline: none;
  height: 60px;
  width: 100%;
  padding: 10px;
  margin-left: -20px;
  border-radius: 4px;
}

.commonButtonType {
  border-radius: 10px;
  background-color: transparent;
  width: 80%;
  display: block;
  margin-left: 150px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.policyOuterDiv {
  text-align: left;
  padding: 20px;
}

.policyInnerDiv {
  width: 100%;
}

.commonLabelStyling {
  font-size: 1.5rem;
  margin-top: 20px;
  font-family: Poppins;
}

.roomOptionLabel {
  font-size: 1.5rem;
  margin-top: 20px;
  font-family: Poppins;
}

.roomOptionsOuterDiv {
  display: block;
  font-size: 1rem;
}

.carouselImageStyling {
  height: 400px;
  width: 700px;
  border-radius: 10px;
}

.outerCardComponentMain {
  right: 0;
  width: 30%;
  height: 400px;
  text-align: left;
  background-color: transparent;
}

.innerCardComponentMain {
  display: flex;
  width: 120%;
}

.innerCardComponentAlignedLeft {
  left: 0;
  width: 40%;
}

.rightAlignedDiv {
  right: 0;
  width: 60%;
}

.singleHotelViewLeftAlignedDiv {
  left: 0;
  width: 60%;
  background-color: transparent;
  border-radius: 10px;
}

.AppBarStyling {
  background-color: rgb(255, 109, 56);
  z-index: 20;
  display: flex;
  font-family: Poppins;
}

.ToolBarStyling {
  display: flex;
  width: 100%;
  font-family: Poppins;
}

.IconStyling {
  width: 55%;
  left: 0;
  margin-left: -30px;
}

.HomeStyling {
  margin-left: -550px;
}

.ListStyling {
  width: 20%;
  justify-content: space-evenly;
  margin-left: 30px;
  right: 0;
  font-family: Poppins;
}

.iconButton {
  width: 55%;
  left: 0px;
  margin-left: -30px;
}

.extremeLeft {
  margin-left: -550px;
}

.paraStyles {
  font-size: 2.24rem;
  cursor: pointer;
  margin-top: 13px;
  margin-left: -120px;
  text-decoration: none;
  color: red;
}

.divStylingApp {
  background-color: white;
  height: 50px;
  right: 0px;
  width: 20%;
  border-radius: 10px;
  color: rgb(255, 109, 56);
  text-align: center;
}

.UserProfileDiv {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  left: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.UserProfileInnerDiv {
  margin-top: 13px;
  font-weight: bold;
  font-family: Poppins;
  right: 0;
  width: 45%;
  margin-left: 20px;
}

.UserInfoInnerDiv {
  width: 80%;
  left: 0px;
}

.AnchorTagStyle {
  margin-left: 28%;
  cursor: pointer;
}

.viewProfileLabel {
  font-weight: Bold;
  font-family: Poppins;
  right: 0;
  width: 15%;
  color: black;
  margin-left: 5px;
  cursor: pointer;
}

.cursorPointer {
  cursor: pointer;
}

.strongStyles {
  cursor: pointer;
  font-family: Poppins;
}

.hotelInfoCardStyling {
  border: none;
  margin-top: 20px;

  background-color: transparent;
  border-radius: 10px;
  width: 100%;
}

.priceInfoDiv {
  height: 300px;
  border: none;
}

.textDecoration {
  text-decoration: none;
}
